.expense-filter {
    fieldset {
        display: grid;
        gap: 15px;
        border-radius: $border-radius;
        padding-block: 15px;

        @include for-normal-layout {
            grid-template-columns: 3fr 3fr 1fr;
        }
    }

}