.user-msg {
    position: fixed;
    left: 50%;
    top: -100px;
    transform: translate(-50%, 50%);
    z-index: 10;
    transition: top 0.5s ease;

    padding: 6px 12px;

    &.shown {
        top: 10px;
    }

    &.success {
        background-color: var(--clrSecondary1);
        color: var(--clrPrimary3);
    }

    &.error {
        background-color: #F67E7E;
        color: black;
    }

}